<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AccountDeails
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        <ion-card-title><b>User: </b>{{Account_data.username}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <h1><b>Coins</b></h1>
          <!-- <h2 style="text-indent: 2.5em;"><b>BTH: </b>22</h2>
          <h2 style="text-indent: 2.5em;"><b>BTC: </b>22</h2> -->
          <h2 style="text-indent: 2.5em;" *ngFor="let item of Account_Coins_data"  >
            <b>{{item.Symbol}}: {{item.Quantity}}  ,  Total: {{item.TotalAmount}}</b>
          </h2>
        
      </ion-card-content>
    </ion-card>
    
  <!-- <ion-item>
    <h2>User: John </h2>
  </ion-item>
  
  <ion-item lines="none">
    <h3>Coins</h3> 
  </ion-item>
  
  <ion-item lines="none">
    <h5>BTH: 22</h5>
  </ion-item>
  <ion-item>
    <h5>BTC: 22</h5>
  </ion-item> -->
 
</ion-content>
<ion-footer>
  <ion-card >
    <ion-card-header>
      <ion-card-title><b>Balance: </b>{{Account_data.Balance}}$</ion-card-title>  
    </ion-card-header>  
  </ion-card>
  <!-- <h1 style="text-indent: 1em"><b>Balance: </b>200$</h1> -->
    
</ion-footer>
    